<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @membership.user.username %>
</p>

<p>
  <b>Group:</b>
  <%= @membership.group.name %>
</p>


<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
