  <div class="request">
    <ul>
      <li>Job Offer: <%=  activity.trackable.job.membership.user.username %> : <%=  activity.trackable.job.name %></li>

      <li><b>Request: <%=  activity.owner.username %> responded: <%=  activity.trackable.request_text %></b></li>

      <% if current_user.id == activity.trackable.membership.user.id %>

      <li><%= link_to 'Make a comment', new_comment_path(job_id: activity.trackable.id)%> |
              <%= link_to 'Delete', request_path(activity.trackable.id), method: :delete %></li>

      <% elsif !activity.trackable.accepted? %>

      <li><%= link_to 'Make a comment', new_comment_path(job_id: activity.trackable.id)%> |
              <%= link_to 'Accept Request', request_accepted_path(activity.trackable)%></li>

      <% end %>

    </ul>
  </div>

