
<%= render 'layouts/navbar'%>
<div class="row-fluid">
  <div class="span5 offset1">
    <h1 id="header_font">Listing jobs</h1>
  </div>
</div>
<div class="row-fluid">
	<div class="tile span 10 offset1">
		<table class="table">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Friend karma value</th>
		      <th>Time</th>
		      <th>Group</th>
		      <th>Membership</th>
		      <th></th>
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>
		<% @jobs.each do |job| %>
  
		  <tbody>
			  <tr>
			    <td><%= job.name %></td>
			    <td><%= job.friend_karma_value %></td>
			    <td><%= job.duration %> Hours</td>
			    <td><%= job.group.name %></td>
			    <td><%= job.membership.user.first %> <%= job.membership.user.last %></td>
			    <td><%= link_to 'Show', job %></td>
			    <td><%= link_to 'Edit', edit_job_path(job) %></td>
			    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			  </tr>
			</tbody>
		<% end %>
		</table>
	</div>
  </div>
<br />
<div class="row-fluid">
	<div class="tile span4 offset2">
		<%= link_to 'New Job', new_job_path %>
	</div>
</div>