<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Friend karma value</th>
    <th>Time</th>
    <th>Group</th>
    <th>Membership</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.name %></td>
    <td><%= job.friend_karma_value %></td>
    <td><%= job.time %></td>
    <td><%= job.group_id %></td>
    <td><%= job.membership_id %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
