<h1><%= current_user.username %>'s Groups</h1>

<table>


<% @groups.each do |group| %>
    <tr>
      <td><b><%= group.name %></b></td>
    <table>
      <tr><td><%= link_to 'Group Details', group %></td></tr>
      <tr><td>Members: </td>
          <td><% group.users.each do |groupuser| %>
          <a><%= groupuser.username %>. </a>
          <% end %>
          </td>
      </tr>
      </tr>
</table>
<br />
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
<table>

