<p id="notice"><%= notice %></p>

<p>
  <b>Job:</b>
  <%= @request.job_id %>
</p>

<p>
  <b>User:</b>
  <%= @request.membership_id %>
</p>

<p>
  <b>Request text:</b>
  <%= @request.request_text %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
