<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @invitation.group.name %>
</p>

<p>
  <b>Invitee email:</b>
  <%= @invitation.invitee_email %>
</p>


<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
