 <div class="job">
    <ul>
      <li><%=  activity.trackable.name %></li>
      <li><%=  activity.owner %></li>
      <li><%=  activity.trackable.friend_karma_value %></li>
      <li><%=  activity.trackable.time %></li>
      <li><%=  activity.trackable.end_time %></li>
      <li><%=  activity.trackable.group_id %></li>
    </ul>
  </div>


