 <div class="job">
    <ul>
      <% if activity.trackable.asked %>
        <li><b>Request: <%=  activity.owner.username %> : <%=  activity.trackable.name %></b></li>
      <% else %>
        <li><b>Offer: <%=  activity.owner.username %> : <%=  activity.trackable.name %></b></li>
      <% end %>
      <li>Friend Karma Value: <%=  activity.trackable.friend_karma_value %></li>
      <li>Date Time: <%=  activity.trackable.time %></li>

      <li>Completed: <%= activity.trackable.completed %></li>

      <% if current_user.id != activity.trackable.membership.user.id && !activity.trackable.asked %>
        <li><%= link_to 'Make a comment', new_comment_path(job_id: activity.trackable.id)%> |
                <%= link_to 'Make a request', new_request_path(job_id:  activity.trackable.id)%></li>
      <% end %>

      <% if current_user.id == activity.trackable.membership.user.id %>
        <li><%= link_to 'Make a comment', new_comment_path(job_id: activity.trackable.id)%> |
        <%= link_to 'Delete', job_path(activity.trackable.id), method: :delete %></li>

      <% elsif activity.trackable.asked && !activity.trackable.accepted %>
        <li><%= link_to 'Make a comment', new_comment_path(job_id: activity.trackable.id)%> |
        <%= link_to 'Accept Job', job_accepted_path(activity.trackable)%></li>
      <% end %>
    </ul>
  </div>


