<div class="navbar navbar-fixed-top">
	        <div class="navbar-inner">
			                <div class="container">                        <a class="brand" href="#">friendkarma</a>                        <ul class="nav pull-right">
							                                <% if current_user %>
												                                <li class="user_fk">
																                                <%= current_user.username %>
																				                                </li>
																								                                <li>
																												                                <%= link_to "Profile", user_path(current_user.id) %>
																																                                </li>
																																				                                <li>
																																								                                <%= link_to "Dashboard", dashboard_path %>
																																												                                </li>
																																																                                <li>
																																																				                                <%= link_to "My Groups", groups_path %>
																																																								                                </li>
																																																												                                <li>
																																																																                                <%= link_to "Jobs", jobs_path %>
																																																																				                                </li>
																																																																								                                <li>
																																																																												                                <%= link_to "Requests", requests_path %>
																																																																																                                </li>
																																																																																				                                <li>
																																																																																								                                <%= link_to "Logout", :logout %>
																																																																																												                                </li>
																																																																																																                            <% else %>
																																																																																																				                                    <li>
																																																																																																								                                    <%= link_to "Register", new_user_path %>
																																																																																																												                                    </li>
																																																																																																																                                    <li>
																																																																																																																				                                    <%= link_to "Login", :login %>
																																																																																																																								                                    </li>
																																																																																																																												                                <% end %>
																																																																																																																																                        </ul>
																																																																																																																																			                </div>
																																																																																																																																					        </div>
																																																																																																																																					</div>
