<!DOCTYPE html>
<html>
<head>
  <title>FriendKarma</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">friendkarma</a>
			<ul class="nav pull-right">
		   	 	<% if current_user %>
				<li>
			        | <b><%= current_user.username %></b> |
			        <%= link_to "Profile", user_path(current_user.id) %> |
				</li>
				<li><a href="#">
			        <%= link_to "Dashboard", dashboard_path %>|
				</a></li>
				<li><a href="#">
			        <%= link_to "My Groups", groups_path %> |
				</a></li>
				<li><a href="#">
			        <%= link_to "Jobs", jobs_path %> |
				</a></li>
				<li><a href="#">	
			        <%= link_to "Requests", requests_path %> |
				</a></li>
				<li><a href="#">
			        <%= link_to "Logout", :logout %> |
				</a></li>
			    <% else %>
				<li><a href="#">
			    	<%= link_to "Register", new_user_path %>
				</a></li>
				<li><a href="#">
			        <%= link_to "Login", :login %>
				</a></li>
			    <% end %>
			</ul>
		</div>
	</div>
</div>

<div>
    <p id="notice"></p>
</div>

<%= yield %>

</body>
</html>
